body {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.nav {
  padding-top: 32px;
}

.yellow{
  background-color: yellow;
}

.center {
  margin-left: 50px;
  text-align: center;
}

.fifty {
  width: 50%;
  text-align: center;
}

.hundred {
  width: 100%;
  text-align: center;
  margin-left: 50px;
}

.min-content{
  width: min-content;
  border: solid;
}

.max-content{
  width: max-content;
}

img {
  width: 500px;
}

.fit-content{
  width: fit-content;
}

.parent {
  width: 100px;
  background-color: yellow;
}

.minmax {
  max-width: 600px;
  min-width: 100px;
  margin: 0 auto;
  background-color: yellow;
  text-align: center;
}
